# +----------------------------------------------------------------------------
# |
# |   Copyright (c) 2017 Christopher Stone
# |   Licensed under GPL v3, see LICENSE file.
# |
# |   THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESS OR IMPLIED
# |   WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# |   MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# |   DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
# |   FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# |   CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# |   SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# |   BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# |   LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# |   NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# |   SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# |
# +----------------------------------------------------------------------------
# | dslgateway configuration file
# +----------------------------------------------------------------------------

version = "1.0";
# local comms port number
port = 1058;
# remote comms port number
remote_port = 1059;
# number of packet buffers to allocate in packet buffer memory pool
mbufs = 12288;
# set the following to zero for client mode, one for server mode
is_server = 1;
# ip version (4 or 6)
ipversion = 4;
# start with debugging queue control on/off
qcontrol = false;

# +----------------------------------------------------------------------------
# | client
# +----------------------------------------------------------------------------
client =
{
    # define the ingress interface for the client, provide the name of the
    # ingress bridge, and the name of the tap device that is bridged to
    # the ingress bridge. The tap device is used to read packets from the
    # bridge.
    ingress =
    {
        tap = "ingress";
        bridge = "ingressbr";
    };
    # define the egress interfaces for the client. There can be up to two connections
    # to the internet service provider (eg: ppp0 and ppp1). Each of these interfaces
    # should be bridged to a separate bridge. There should also be a tap interface
    # in each bridge. Provide the names of the tap interfaces and bridge interfaces
    # below. Also provide the starting weighting ratio for each connection.
    egress =
    {
        tap = ( "egress0", "egress1" );
        bridge = ( "egressbr0", "egressbr1" );
        ratio = ( 1, 1 );
    };
    server_name = "server.example.com";
};

# +----------------------------------------------------------------------------
# | server
# +----------------------------------------------------------------------------
server =
{
    # define the tap and bridge interfaces for the vps server
    tap = "egress";
    bridge = "egressbr";
};
