# +----------------------------------------------------------------------------
# |
# |   Copyright (c) 2017 Christopher Stone
# |   Licensed under GPL v3, see LICENSE file.
# |
# |   THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESS OR IMPLIED
# |   WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# |   MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# |   DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
# |   FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# |   CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# |   SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# |   BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# |   LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# |   NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# |   SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# |
# +----------------------------------------------------------------------------
# | dslgateway configuration file
# +----------------------------------------------------------------------------

version = "1.0";
# ip version (4 or 6)
ipversion = 4;
# start with debugging queue control on/off
qcontrol = false;
# data port numbers for the client/server connections, this also defines the
# number of interfaces connected to the server
data_port = ( 1059, 1060 );

# +----------------------------------------------------------------------------
# | client
# +----------------------------------------------------------------------------
client =
{
    # define the egress interfaces for the client. Also provide the starting
    # weighting ratio for each connection, and provide the netfilter queue no that will
    # be associated with the egress
    egress =
    {
        interface = ( "ppp0", "ppp1" );
        ratio = ( 1, 1 );
        fwmark = ( 1, 2 );
        nf_q_no = 2;
    };
    # define the ingress interface for the client. Provide the netfilter queue 
    # number that will be associated with ingress.
    ingress =
    {
    	nf_q_no = 1;
    };
    # define the name or ip address of the vps
    #
    server_name = "server.example.com";
};

# +----------------------------------------------------------------------------
# | server
# +----------------------------------------------------------------------------
server =
{
    # provide the netfilter queue number for the ingress and
    # egress interfaces
    ingress = 
    {
       	nf_q_no = 1;
    };
    egress = 
    {
       	nf_q_no = 2;
    };
    # provide the client/server ping rate which is used to monitor line speed
    pingrate = 6;
    # provide the ingress/egress interface name
    interface = "eth0";
};
