# +----------------------------------------------------------------------------
# |
# |   Copyright (c) 2017 Christopher Stone
# |   Licensed under GPL v3, see LICENSE file.
# |
# |   THIS SOFTWARE IS PROVIDED ``AS IS'' AND ANY EXPRESS OR IMPLIED
# |   WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# |   MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# |   DISCLAIMED. IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
# |   FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# |   CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# |   SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# |   BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
# |   LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
# |   NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
# |   SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
# |
# +----------------------------------------------------------------------------
# | dslgateway configuration file
# +----------------------------------------------------------------------------

version = "1.0";
# local comms port number
port = 1058;
# number of packet buffers to allocate in packet buffer memory pool
mbufs = 12288;
# ip version (4 or 6)
ipversion = 4;
# start with debugging queue control on/off
qcontrol = false;
# define the peer ip address or dns name for comms. Note that the comms port should
# not be opened in the firewall as it is a big security risk, instead send
# comms over a vpn connection and define the peer vpn ip address here
comms_name = "172.16.4.1"

# +----------------------------------------------------------------------------
# | client
# +----------------------------------------------------------------------------
client =
{
    # define the ingress interface for the client.
    ingress = 
    {
        input = "ingress";
        output = "eth0";
    }
    # define the egress interfaces for the client. There can be up to two connections
    # to the internet service provider (eg: ppp0 and ppp1). Also provide the starting
    # weighting ratio for each connection.
    egress =
    {
        input = ( "ppp0", "ppp1" );
        output = ( "ppp0", "ppp1" );
        ratio = ( 1, 1 );
    };
    # define the name or ip address of the vps, this is usually different from
    # the comms name or ip address, because comms should go over a vpn
    # connection whereas data goes to the public vps name or ip address.
    #
    server_name = "server.example.com";
};

# +----------------------------------------------------------------------------
# | server
# +----------------------------------------------------------------------------
server =
{
    # define the interface for comms and data layer connections
    input = "eth0";
    output = "eth0";
};
